#main {
    width: 70%;
    background-color: lightgray;
    margin: auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    width: 65%;
    background-color: lightblue;
    border: 2px solid black;
    margin: 20px auto;
}

#wrapper, section {
    padding: 5px;
    box-sizing: border-box;
}

div.go {
    text-align: center;
}
